*{
	margin: 0;
	padding:0;
	list-style:none;
	font-family:"微软雅黑";
	box-sizing:border-box;	
}
a{
	text-decoration: none;
	-webkit-tap-hightlight-color:rgba(0,0,0,0);
}
img{
	border: 0;
}
body{
	background: #EFEFEF;
}
/*开始*/

section{
	height: 100%;	
}

/*导航开始*/
.banner-jp {
  width: 100%;
  height:0.9rem;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  padding: 0.01rem;
  background: #fff;
}
.banner-jp nav {
  width: 100%;
  height: 0.88rem;
  padding: 0 0.25rem;
  display: block;
  text-align: center;
}
.banner-jp nav .back {
  width: 0.48rem;
  height: 0.48rem;
  border-radius: 50%;
  -webkit-background-size: 0.48rem !important;
  background-size: 0.48rem !important;
  margin: 0.225rem 0;
  display: block;
  float: left;
}
.banner-jp nav .order {
  height: 0.88rem;
  margin-top: 0.25rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.banner-jp nav .order h1 {
  width: 100%;
  font-size: 10px;
  display: block;
  line-height: 0.5rem;
  color: #000;
}


/*导航结束*/

/*订单确认开始*/
.diangdan{
	width: 7.05rem;
	height: 3.39rem;
	margin: 0 auto;
	background: #fff;
	margin-top: 0.2rem;
}
.danhao{
	width: 100%;
	height: 1.04rem;
	background: #fff;
	border-bottom: 1px dashed  #A9A9A9;
}
.danhao li{
	display: block;
	width: 100%;
	height: 0.5rem;
}
.danhao-yuan{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background: red ;
	display: block;
	float: left;
	margin-left:0.4rem;
	margin-top: 0.3rem;
}
.danhao span{
	font-size: 15px;
	display: block;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.15rem;
}
.danhao h2{
	font-size: 14px;
	color:#30CCFF;
	float: left;
	margin-left: 0.4rem;
	margin-top: 0.05rem;
}
.danhao-name{
	width: 7.05rem;
	height: 0.57rem;
	line-height: 0.3rem;
	background:#fff;
	border-bottom: 1px dashed  #A9A9A9;

}
.danhao-name:before{
	clear: both;
	display: block;
	content: "";
}
.danhao-name .danhao-yuan2{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background:#30CCFF;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.35rem;
}
.danhao-name span{
	font-size: 15px;
	display:inline-block; 
	vertical-align: middle;
}
.danhao-name .danhao-yuan3{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background:#30CCFF;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.35rem;
}
.danhao-name .danhao-yuan4{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background:#30CCFF;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.35rem;
}
.danhao-name1{
	width: 100%;
	height: 0.57rem;
	background:#fff;

}
.danhao-name .danhao-yuan5{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background:#30CCFF;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.35rem;
}
.danhao-name1 span{
	font-size: 15px;
	display: block;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
}
.danhao-name1  h1{
	font-size: 24px;
	display: block;
	float: left;
	color: #FF0000;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}


/*确认订单开始*/
  .new-qrdd{
    width: 7.05rem;
    height: 1.05rem;
    margin: 0 auto;
    background: #00C3C3;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    position:relative;
    line-height: 1.05rem;
    color: #fff;
    text-align: center; 
    font-size: 20px;
  }
  .prdd-right{
    width: 3.39rem;
    height: 1.05rem;
    background:#FFCC30;
    float: right;
    border-radius: 0.5rem;
    line-height: 1.05rem;
    color: #fff;
    text-align: center; 
    font-size: 15px;
  }
  .prdd-xian{
    width: 0.4rem;
    height: 1.05rem;
    background: #FFCC30;
    position: absolute;
    right: 3rem;
    bottom: 0;
  }
/*确认订单结束*/

/*查询开始*/
.jp-chaxun{
	width: 100%;
	height: 2.1rem;
}
.jp-chaxun a{
	width:3.82rem;
	height: 0.82rem;
	margin: 0 auto;
	display: block;
	z-index: 99999;	
	position: relative;
}
.jp-chaxun a img{
	width: 100%;
}
.cx-bjt{
	width: 100%;
	height: 1.67rem;
}
.cx-bjt img{
	height: 100%;
}

/*酒店推荐开始*/
.jp-jdtj{
	width: 7rem;
	height: 0.8rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.jp-jdtj h1{
	font-size: 13px;
	line-height: 0.8rem;
	padding-left: 0.05rem;	
	margin-left:0.05rem;
	float: left;
	display: block;
	position: relative;
}
.jp-jdtj h1 img{
	float: left;
	position: absolute;
	bottom: 0.05rem;
	left: 0.05rem;
}

.jp-jdtj div{
	height: 0.3rem;
	width: 0.05rem;
	background: red;
	float: left;
	margin-top:0.3rem;
	margin-left: 0.1rem;
}
.jp-jdtj h3{
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 12px;
	float: left;
	margin-left: 0.1rem;
	color:#595959;
	margin-top:-0.1rem;
}
.jp-jdtj span{
	display:block;
	line-height: 0rem;
	margin-top:-0.1rem; 
}
.jp-tjnr{
	width: 7rem;
	height: 3.16rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	border-radius: 0.2rem;
	box-shadow: 2px 2px 2px #EAEAEA;
}
.tjnr-tp{
	width: 3rem;
	float: left;
	height: 100%;
}
.tjnr-tp img{
	width:100%;
}
.jiudian-zt{
	width: 3.7rem;
	height: 100%;
	float: right;
}
.jiudian-zt1{
	height: 0.65rem;
}
.jiudian-zt1 h2{
	font-size: 14px;
	display: block;
	line-height: 0.65rem;
	float: left;	
}
.jiudian-xing{
	width:1.5rem;
	height: 0.65rem;
	float:left;
	margin-left:0.2rem;
}
.jiudian-xing img{
	display: block;
	width: 100%;
	margin-top: 0.2rem;
}
.jiudian-zt p{
	font-size: 12px;
	color:#7B7B7B;
}
.jiudian-qian{
	height: 0.6rem;
	margin-top: 0.15rem;
}
.jiudian-qian .jiudian-map{
	width: 0.22rem;
	height: 0.3rem;
	float: left;
	display: block;
	line-height: 0.1rem;
}
.jiudian-map img{
	width: 100%;
}
.jiudian-qian h2{
	width: 1.4rem;
	font-size: 18px;
	color:#5C5C5C;
	line-height: 0.6rem;
	display: block;
	float: left;
	margin-right: 0.2rem;
}
.jiudian-qian h2 span{
	font-size: 14px;
}
.jiudian-faxian{
	width: 100%;
	height: 0.5rem;
	margin-top: 0.15rem;
}
.jiudian-zan{
	width: 0.95rem;
	height: 0.5rem;
	float: left;
	margin-right: 0.25rem;
}
.jiudian-fx{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	display: block;
	line-height: 0.1rem;
}
.jiudian-fx img{
	width: 100%;
}
.jiudian-faxian span{
	width: 0.3rem;
	font-size: 12px;
	color:#5C5C5C;
	line-height: 0.6rem;
	margin-left: 0.03rem;
	display: block;
	float: left;
}
