* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
html,
body {
  height: 100%;
}
.index-pay,
.index-order {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  overflow: auto;
}
/*兼容*/
.index-pay {
  /*banner开始*/
  /*banner结束*/
  /*介绍开始*/
  /*介绍结束*/
  /*保险信息开始*/
  /*保险信息结束*/
  /*底部开始*/
  /*底部结束*/
}
.index-pay .banner {
  width: 100%;
  height: 3.4rem;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  padding: 0.01rem;
}
.index-pay .banner nav {
  width: 100%;
  height: 0.88rem;
  padding: 0 0.25rem;
  display: block;
  text-align: center;
}
.index-pay .banner nav .back {
  width: 0.48rem;
  height: 0.48rem;
  border-radius: 50%;
  -webkit-background-size: 0.48rem !important;
  background-size: 0.48rem !important;
  margin: 0.225rem 0;
  display: block;
  float: left;
}
.index-pay .banner nav .order {
  width: 4rem;
  height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0.225rem 0;
}
.index-pay .banner nav .order h1 {
  width: 100%;
  font-size: 10px;
  display: block;
  line-height: 0.24rem;
  color: #fff;
}
.index-pay .banner nav .order h1 span {
  display: inline-block;
  width: auto;
  height: auto;
}
.index-pay .banner nav .order h1 span img {
  height: 0.08rem;
  display: inline-block;
}
.index-pay .banner nav .order h1 span:nth-child(2) img {
  transform: rotate(180deg);
}
.index-pay .introduce {
  width: 7.02rem;
  height: 2.52rem;
  margin: -0.7rem auto 0.1rem;
  border-radius: 0.1rem;
  background: #FCFBFB;
  padding: 0.3rem 0.15rem;
  position: relative;
}
.index-pay .introduce .teams {
  position: absolute;
  right: 0.2rem;
  top: -0.1rem;
  width: 1.08rem;
  height: 0.47rem;
  font-size: 12px;
  color: #fff;
  -webkit-background-size: 1.08rem !important;
  background-size: 1.08rem !important;
  text-align: center;
  line-height: 0.47rem;
}
.index-pay .introduce figure {
  width: 2.1rem;
  height: 1.92rem;
  border-radius: 0.05rem;
  overflow: hidden;
  float: left;
}
.index-pay .introduce figure a {
  display: block;
  width: 100%;
  height: 100%;
}
.index-pay .introduce figure a img {
  width: 100%;
}
.index-pay .introduce .right {
  width: 4.62rem;
  height: 2.52rem;
  padding-left: 0.25rem;
  float: left;
}
.index-pay .introduce .right .con {
  border-bottom: 0.01rem solid #E2E2E2;
  width: 100%;
  height: 1.31rem;
}
.index-pay .introduce .right .con a {
  width: 100%;
  height: 0.24rem;
  display: block;
  margin-bottom: 0.1rem;
}
.index-pay .introduce .right .con a h1 {
  width: 80%;
  font-size: 13px;
  color: #181818;
  line-height: 0.24rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index-pay .introduce .right .con p {
  width: 100%;
  line-height: 0.3rem;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #2d2d2d;
  font-size: 12px;
}
.index-pay .introduce .right .con .tab {
  width: 100%;
  overflow: hidden;
  line-height: 0.24rem;
  margin-top: 0.04rem;
}
.index-pay .introduce .right .con .tab span {
  width: auto;
  padding: 0 0.08rem;
  font-size: 12px;
  display: block;
  height: 100%;
  border: 0.01rem solid #EBEBEB;
  float: left;
  margin-right: 0.1rem;
  color: #BABABA;
}
.index-pay .introduce .right .bottom {
  width: 100%;
  height: 0.62rem;
  padding: 0.1rem 0 0;
}
.index-pay .introduce .right .bottom .date {
  width: 2.6rem;
  overflow: hidden;
  height: 100%;
  line-height: 0.26rem;
  float: left;
}
.index-pay .introduce .right .bottom .date span {
  width: 100%;
  font-size: 12px;
  color: #181818;
  display: block;
}
.index-pay .introduce .right .bottom .price {
  width: 1.72rem;
  height: 100%;
  background: #FB9318;
  border-radius: 0.04rem;
  padding: 0.1rem;
  float: right;
  font-size: 16px;
  color: #fff;
  vertical-align: text-bottom;
}
.index-pay .introduce .right .bottom .price span {
  font-size: 12px;
  color: #fff;
  display: inline-block;
}
.index-pay .message {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 0.05rem;
  padding: 0.25rem;
}
.index-pay .message .con {
  width: 100%!important;
  height: 0.45rem;
}
.index-pay .message .con div {
  display: block;
  width: 50%;
  height: 0.45rem;
  float: left;
}
.index-pay .message .con div:nth-child(2) {
  text-align: right;
}
.index-pay .message .con div h2 {
  color: #0D0D0D;
  display: inline-block;
}
.index-pay .message .con div span {
  width: 0.24rem;
  height: 0.24rem;
  border: 0.01rem solid #0D0D0D;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}
.index-pay .message .con .common {
  float: right;
}
.index-pay .message .con .common h4 {
  padding: 0 0.15rem;
  color: #03FB03;
  display: inline-block;
  height: 100%;
  font-weight: normal;
}
.index-pay .message .con .common p {
  width: 0.66rem;
  height: 0.32rem;
  border-bottom-left-radius: 0.16rem;
  border-top-left-radius: 0.16rem;
  background: #FD1440;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-right: -0.25rem;
  padding: 0.03rem;
}
.index-pay .message .con .common p b {
  width: 0.27rem;
  height: 0.27rem;
  background: #DB1439;
  text-align: center;
  line-height: 0.27rem;
  color: #fff;
  font-weight: normal;
  float: left;
  border-radius: 50%;
  font-family: '宋体';
}
.index-pay .message ul {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.index-pay .message ul li {
  width: 100%;
  height: 1.11rem;
  border-top: 0.01rem solid #E2E2E2;
  padding: 0.05rem 0;
}
.index-pay .message ul li p {
  width: 6.3rem;
  height: 0.35rem;
  line-height: 0.35rem;
  color: #181818;
  float: left;
}
.index-pay .message ul li p span {
  color: #FB9318;
}
.index-pay .message ul li .jt {
  width: 100%;
  text-align: center;
}
.index-pay .message ul li .jt span {
  width: 0.3rem;
  height: 0.12rem;
  -webkit-background-size: auto 0.12rem !important;
  background-size: auto 0.12rem !important;
  display: inline-block;
}
.index-pay .message .flag {
  width: 0.6rem;
  height: 0.3rem;
  background: #EF5854;
  box-shadow: 0 0 0.16rem 0.02rem #EF5854;
  -webkit-box-shadow: 0 0 0.06rem 0.02rem #EF5854;
  border-radius: 0.3rem;
  float: left;
  position: relative;
}
.index-pay .message .flag .dot {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  left: 0.3rem;
  background: #EF5854;
  position: absolute;
  box-sizing: content-box;
  border: 0.12rem solid #fff;
}
.index-pay .foot {
  width: 100%;
  height: 1.02rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding: 0.15rem 0.25rem;
}
.index-pay .foot .left,
.index-pay .foot .right {
  width: 50%;
  height: 50%;
  float: left;
}
.index-pay .foot .left p,
.index-pay .foot .right p {
  width: 100%;
  line-height: 0.42rem;
  color: #666;
}
.index-pay .foot .left p span,
.index-pay .foot .right p span {
  color: #EF5854;
}
.index-pay .foot .left p:nth-child(1) span,
.index-pay .foot .right p:nth-child(1) span {
  font-size: 14px;
  font-weight: bold;
}
.index-pay .foot .left a,
.index-pay .foot .right a {
  display: inline-block;
  width: 1.6rem;
  height: 0.66rem;
  line-height: 0.66rem;
  color: #fff;
  text-align: center;
  background: #EE5251;
  margin-left: 0.1rem;
}
.index-pay .foot .left .right,
.index-pay .foot .right .right {
  text-align: right;
}
/*填写订单开始*/
.index-order {
  /*头部开始*/
  /*头部开始*/
  /*信息开始*/
  /*信息结束*/
  /*底部开始*/
  /*底部结束*/
}
.index-order .banner {
  height: auto;
  overflow: hidden;
  background: #fff;
}
.index-order .banner h1 {
  color: #1c1c1c!important;
}
.index-order .message {
  margin-top: 0.1rem;
}
.index-order .message .con {
  width: 80%;
}
.index-order .message ul li {
  border-top: 0;
  border-bottom: 0.01rem solid #E2E2E2;
  height: auto;
  overflow: hidden;
  padding: 0.05rem;
}
.index-order .message ul li p {
  line-height: 0.42rem;
  width: 100%;
  height: auto;
}
.index-order .message ul li p span {
  color: #B7B6B6;
  width: 6rem;
  outline: none;
  display: inline-block;
  height: 100%;
  line-height: 0.35rem;
}
.index-order .message ul .warn {
  border-bottom: 0;
}
.index-order .foot {
  position: relative;
  margin-top: 0.1rem;
  overflow: hidden;
  height: auto;
}
.index-order .foot .know {
  color: #181818;
  padding-bottom: 0.1rem;
  border-bottom: 0.01rem solid #EAEAEA;
}
.index-order .foot .right {
  height: 100%;
  margin-top: 0.15rem;
}
.index-order .foot .left {
  height: 100%;
  margin-top: 0.1rem;
}
/*填写订单结束*/
/*选择支付方式开始*/
.index-type {
  /*银行卡开始*/
  /*银行卡结束*/
  /*支付开始*/
  /*支付结束*/
  /*底部开始*/
  /*底部结束*/
}
.index-type .bank {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 0.1rem auto;
}
.index-type .bank ul {
  padding: 0.25rem 0.25rem 0.15rem 0.25rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.index-type .bank ul li {
  width: 100%;
  height: 1.2rem;
  border-radius: 0.1rem;
  background: #2FE3FE;
  margin-bottom: 0.1rem;
  padding: 0 0.25rem;
  line-height: 1.2rem;
  overflow: hidden;
}
.index-type .bank ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.index-type .bank ul li a > * {
  vertical-align: middle;
}
.index-type .bank ul li span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}
.index-type .bank ul li div {
  width: 4.1rem;
  margin: 0 0.25rem;
  height: 0.7rem;
  display: inline-block;
  padding: 0.05rem 0;
  line-height: 0.3rem;
}
.index-type .bank ul li div h1 {
  color: #fff;
  font-size: 14px;
  height: 50%;
}
.index-type .bank ul li div h4 {
  color: #fff;
  font-weight: normal;
  height: 50%;
}
.index-type .bank ul li b {
  display: inline-block;
  width: 0.92rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background: #F2F2F2;
  text-align: center;
  line-height: 0.4rem;
  font-size: 14px;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}
.index-type .pay-bank {
  width: 100%;
  height: auto;
  padding: 0.3rem 0;
  background: #fff;
  overflow: hidden;
}
.index-type .pay-bank h1 {
  font-size: 14px;
  color: #181818;
  line-height: 0.3rem;
  height: 0.3rem;
  text-align: center;
}
.index-type .pay-bank h1 span {
  width: 0.92rem;
  height: 0.06rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: 0.92rem !important;
  background-size: 0.92rem !important;
}
.index-type .pay-bank h1 span:nth-child(2) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.index-type .pay-bank .swiper-wrapper {
  height: 1.44rem;
  margin-top: 0.3rem;
}
.index-type .pay-bank .swiper-wrapper .swiper-slide {
  width: 3.4rem!important;
  margin-right: 0.15rem!important;
  border-radius: 0.28rem;
  overflow: hidden;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.index-type .pay-bank .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: auto 1.42rem !important;
  background-size: auto 1.42rem !important;
}
.index-type .foot {
  position: fixed;
  bottom: 0;
}
/*选择支付方式结束*/
/*绑定银行卡开始*/
.index-bank {
  /*银行卡开始*/
  background: #fff;
  /*银行卡结束*/
}
.index-bank .bank-bank {
  width: 100%;
  border-top: 0.05rem solid #f2f2f2;
}
.index-bank .bank-bank h1 {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0 0.25rem;
}
.index-bank .bank-bank h1 span {
  padding: 0 0.2rem;
  color: #F91D3C;
  font-size: 14px;
  vertical-align: middle;
}
.index-bank .bank-bank ul {
  width: 100%;
  height: auto;
  padding: 0 0.25rem;
}
.index-bank .bank-bank ul li {
  width: 100%;
  height: 1.9rem;
  margin-bottom: 0.3rem;
  -webkit-background-size: 100% !important;
  background-size: 100% !important;
}
.index-bank .bank-bank ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.index-bank .bank-bank ul li h2,
.index-bank .bank-bank ul li p {
  font-size: 12px;
  color: #fff;
  padding-left: 1.85rem;
  font-weight: bold;
  line-height: 1.7rem;
}
.index-bank .bank-bank ul li p {
  font-size: 14px;
  line-height: 0rem;
  margin-top: -0.2rem;
}
/*绑定银行卡结束*/
/*添加银行卡开始*/
.index-bank {
  /*银行卡banner开始*/
  /*银行卡banner结束*/
  /*个人银行卡信息开始*/
  /*个人银行卡信息结束*/
}
.index-bank .bank-banner {
  width: auto;
  height: 2.75rem;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.index-bank .bank-banner img {
  width: 100%;
  margin-top: -1.26rem;
}
.index-bank .bank-intro {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 0.2rem;
}
.index-bank .bank-intro h1 {
  color: #181818;
  font-size: 14px;
  width: 100%;
  height: 1rem;
  margin-top: 0.3rem;
  line-height: 0.5rem;
}
.index-bank .bank-intro h1 span {
  display: block;
  width: 100%;
  height: 0.3rem;
  color: #A3A3A3;
  font-size: 12px;
  line-height: 0.3rem;
  margin-top: -0.15rem;
}
.index-bank .bank-intro ul {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.index-bank .bank-intro ul li {
  width: 100%;
  height: 0.86rem;
  border-bottom: 0.01rem solid #EEEEEE;
}
.index-bank .bank-intro ul li:nth-last-child(1) {
  border-bottom: 0;
}
.index-bank .bank-intro ul li:nth-last-child(1) span {
  background: rgba(0, 0, 0, 0);
  border: 0.01rem solid #A0A0A0;
}
.index-bank .bank-intro ul li > * {
  vertical-align: middle;
}
.index-bank .bank-intro ul li span {
  width: 0.38rem;
  height: 0.38rem;
  display: inline-block;
  border-radius: 50%;
  background: url(../image/bank-people.png) no-repeat 0 0;
  -webkit-background-size: 0.38rem !important;
  background-size: 0.38rem !important;
}
.index-bank .bank-intro ul li span i {
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background: #1FE498;
  margin: 0.115rem auto;
  display: none;
}
.index-bank .bank-intro ul li input {
  height: 100%;
  width: 4.8rem;
  margin: 0 0.1rem;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: 0;
  color: #4A4A4A;
}
.index-bank .bank-intro ul li a,
.index-bank .bank-intro ul li b {
  display: inline-block;
  width: 1.65rem;
  height: 0.6rem;
  background: #2BD2FC;
  color: #fff;
  font-size: 14px;
  line-height: 0.6rem;
  text-align: center;
  border-radius: 0.6rem;
  margin: 0;
  position: relative;
}
.index-bank .bank-intro ul li p {
  width: 6.4rem;
  display: inline-block;
  margin-left: 0.1rem;
  color: #424242;
  height: 100%;
  line-height: 0.86rem;
}
.index-bank .bank-intro a {
  display: block;
  width: 7.05rem;
  height: 0.9rem;
  font-size: 14px;
  color: #fff;
  line-height: 0.9rem;
  text-align: center;
  margin: 0.35rem auto 0;
  background: #FFB21E;
  border-radius: 0.9rem;
}
/*添加银行卡结束*/
/*人脸识别开始*/
.index-face {
  background: #fff;
  /*面部扫描开始*/
  /*面部扫描结束*/
}
.index-face .face-type {
  width: 100%;
  height: 7.8rem;
  overflow: hidden;
  background: url(../image/face-type.png) no-repeat 0 0;
  -webkit-background-size: 100% !important;
  background-size: 100% !important;
}
.index-face .face-type img {
  width: 100%;
  height: 100%;
}
.index-face .face-footer {
  width: 100%;
  height: 2.35rem;
  text-align: center;
  margin-top: 0.96rem;
}
.index-face .face-footer p {
  width: 100%;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 14px;
  color: #898989;
}
.index-face .face-footer h1 {
  margin-top: 0.3rem;
  width: 100%;
}
.index-face .face-footer h1 > * {
  display: block;
  width: 100%;
  text-align: center;
}
.index-face .face-footer h1 b {
  font-size: 24px;
  color: #FD1440;
}
.index-face .face-footer h1 span {
  font-size: 14px;
  color: #FD1440;
}
/*人脸识别结束*/
/*银行卡信息开始*/
.index-message {
  /*银行卡banner开始*/
  /*银行卡banner结束*/
  /*详细信息开始*/
  /*详细信息结束*/
}
.index-message .messplay {
  height: 4.95rem;
  width: 100%;
  border-top: 0.04rem solid #EAEAEA;
  background: #fff;
  border-radius: 0.1rem;
}
.index-message .messplay .swiper-container {
  width: 100%;
  height: 100%;
}
.index-message .messplay .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.index-message .messplay .swiper-container .swiper-wrapper .swiper-slide a {
  width: 80%;
  height: 80%;
  display: block;
  margin: 10% auto;
}
.index-message .messplay .swiper-container .swiper-wrapper .swiper-slide a img {
  height: 100%;
}
.index-message .bank-intro {
  border-top: 0.1rem solid #EAEAEA;
  padding-top: 0.3rem;
}
.index-message .bank-intro ul li {
  height: 0.9rem;
  line-height: 0.9rem;
}
.index-message .bank-intro ul li span {
  width: 0.22rem;
  height: 0.22rem;
  border: 0.04rem solid #fff;
  background: #FF853C;
  border-radius: 50%;
  box-shadow: 0 0 0.08rem 0.02rem #eee;
  margin-left: 0.05rem;
}
.index-message .bank-intro ul li b {
  font-weight: normal;
}
.index-message .bank-intro ul li:nth-last-child(1) span,
.index-message .bank-intro ul li:nth-last-child(2) span {
  background: #FF5A54;
  width: 0.22rem;
  height: 0.22rem;
  border: 0.04rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0.08rem 0.02rem #eee;
  margin-left: 0.05rem;
}
.index-message .bank-intro a {
  width: 100%;
  height: 1.04rem;
  margin-top: 0.55rem;
  background: #EE5251;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 1.04rem;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.index-message .mask {
  width: 100%;
  height: 100%;
  background: #343434;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
}
.index-message .mask .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 7.5rem;
  height: 6.92rem;
}
.index-message .mask .img img {
  width: 7.5rem;
}
.index-message .mask .img a {
  width: 4.08rem;
  height: 0.68rem;
  display: block;
  position: absolute;
  bottom: -0.9rem;
  left: 50%;
  margin-left: -2rem;
  z-index: 500000;
  border-radius: 0.68rem;
}
.index-message .mask span {
  display: block;
  width: 0.55rem;
  height: 0.55rem;
  position: absolute;
  right: 0.58rem;
  top: 0.51rem;
}
.index-message .mask span img {
  width: 100%;
}
/*银行卡信息结束*/
