img{
	border:0;
}
*{
	font-family:'San Francisco Display',Helvetica;
	font-size: 14px;
	color: #595959;
	box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
}
.container{
	width: 100%;
	display: block;
	height: auto;
	overflow: hidden;
}
[class*=col-]{
	float: left;
}
.col-1{
	width: 8.333333%
}
.col-2{
	width: 16.666667%
}

.col-3{
	width: 25%;
}
.col-4{
	width: 33.333333%
}
.col-5{
	width: 41.666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333%
}
.col-8{
	width: 66.666667%
}

.col-9{
	width: 75%
}
.col-10{
	width: 83.333333%
}
.col-11{
	width: 91.666667%
}
.col-12{
	width: 100%
}