a{
	text-decoration:none;
	color:#888888;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    font-family: Helvetica ,sans-serif;
    padding-top:2.04rem;
    box-sizing: border-box;
}
body,html{
    height:100%;
}
.list-head{
    width:100%;
    height:0.88rem;
    text-align:justify;
    padding:0.2rem 0.2rem;
    box-sizing:border-box;
    line-height:0;
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}
.list-head:after{
    content:"";
    display:inline-block;
    width:100%;
    height:0;
    line-height:0;
    position: absolute;
    bottom:0;
}
.list-head a{
    display: inline-block;
    width:0.44rem;
    height:0.44rem;
    padding:0 0.17rem;
}
.list-head a img{
    width:100%;
}
.list-head input{
    display: inline-block;
    width:5.4rem ;
    height:0.48rem;
    border-radius:0.24rem;
    background: #F2F2F2;
    border:none;
    text-indent:0.3rem;
    vertical-align:top;
    font-size:0.2rem;
    outline: none;
}
/*选项卡----------------------------------------------------------*/
.tiks{
    width: 100%;
    height: 1.16rem;
    background:#EFEFEF;
    line-height:0;
    text-align: justify;
    position: fixed;
    margin-top: 0 !important;
    top:0.88rem;
    left:0;
    z-index:1;
}
.tiks:after{
    content: "";
    display: inline-block;
    width:100%;
    height:0;
    position: absolute;
    top:0;
}
.tiks .item{
    display:inline-block;
    height:100%;
    line-height:1.16rem;
    font-size:1.2rem;
    padding:0 0.2rem;
}
.tiks .item > span{
    vertical-align: middle;
}
.tiks .item img{
    height:0.3rem;
    margin-left:0.04rem;
    transition:transform 0.3s linear;
    vertical-align: middle;
}
.tiks .lists{
    width:100%;
    height:auto;
    position: absolute;
    top:100%;
    left:0;
    border-radius:8px;
    background:#fff;
}
.tiks .lists li{
    margin:0 auto;
    width:92%;
    height:0;
    font-size:0.26rem;
    overflow:hidden;
    transition-property:height;
    transition-duration:0.15s;
    transition-timing-function:linear;
}
/*内容----------------------------------------------------------------*/
.conbox{
    width:100%;
    height: auto;
    background:#EFEFEF;
    /*margin-top:2.04rem;*/
}
.con{
    width:100%;
    height:2.02rem;
    background:#fff;
    margin-bottom:0.2rem;
}
.con .left{
    width:28%;
    height:100%;
    float:left;
}
.con .left img{
    width:100%;
    height:100%;
}
.con .right{
    width:72%;
    height:100%;
    float:left;
    font-size:16px ;
    padding:0.2rem;
    box-sizing: border-box;
}
.con .right .one{
    width:65%;
    height:1.2rem;
    float:left;
}
.con .right .one p{
    width:100%;
}
.con .right .colo{
    color:#FD1440;
}
.con .right .one p:nth-of-type(1){
    width:100%;
    font-size:0.3rem;
    line-height:0.3rem;
}
.con .right .one p:nth-of-type(2){
    font-size:0.26rem;
    line-height:0.4rem;
    margin-top:0.1rem;
}
.con .right .one p:nth-of-type(2)>span{
    margin-right:0.28rem;
}
.con .right .one p:nth-of-type(3){
    font-size:0.26rem;
    line-height:0.4rem;
}
.con .right .two{
    width:35%;
    float:left;
    height:1.2rem;
    line-height:1.2rem;
    text-align: center;
    font-size:0.3rem;
}
.con .right .two .hp{
    font-size:0.35rem;
    color:#FD1440;
}
.con .right .mess{
    width:100%;
    font-size:10px;
    height:30px;
    line-height:0.45rem;
    float: left;
}
.con .right .mess .yd{
    color:#9EF1FE;
    float:right;
}


